{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block styles %}
{% endblock styles %}
    
{% block headers %}
<header class="header">
    <div class="fw">
        <div class="logo">
            <a href="{{ url_for('frontend.main_home') }}">Ramadani.My.Id</a>
        </div>
        <a href="#" class="menu-btn"><span></span></a>
        <div class="top-menu">
            <ul>
                <li><a href="/blog">Back to Blog</a></li>
            </ul>
            <a href="#" class="close"></a>
        </div>
    </div>
</header>
{% endblock headers %}

{% block contents %}
<div class="container">

	<!-- Section Started -->
	<div class="section started-blog">
		<div id="particles-bg" class="slide" style="background-image: url({{url_for('serveStaticResource', resource='public/img/bg-1.jpg')}});"></div>
	</div>

    <!-- Section Blog -->
    <div class="section blog-single align-left" id="blog-section">
        <div class="fw">
            <div class="row">
                <div class="col col-m-12 col-t-12 col-d-12">
                    
                    <div class="post-box">

                        <h1>{{post.title}}</h1>						
                        <div class="blog-detail">Posted <span>{{post.dibuat_pada.strftime("%d %b, %Y")}}</span></div>

                        <div class="blog-image">
                            {% if post.image %}
                            <img src="{{url_for('serveStaticResource', resource='img/post.image')}}" alt="{{post.title}}">
                            {% else %}
                            <img src="{{url_for('serveStaticResource', resource='img/img-default.jpg')}}" alt="No Image">
                            {% endif %}
                        </div>  

                        <div class="blog-content">
                           {{post.content|safe}}

                        </div>

                        <!--

                                                    <form action="" method="post" class="form" role="form">
                            {{ form.csrf_token() }}
                            <h3 class="subtitle">Leave a Reply</h3>
                            <div class="form-group  required">
                                <input class="form-control" id="name" name="name" required type="text" placeholder="Name" >
                            </div>
                            <div class="form-group  required">
                                <input class="form-control" id="email" name="email" required type="text" placeholder="Your Email" >
                            </div>
                            <div class="form-group  required">
                                <textarea class="form-control" id="content" name="content" required placeholder="Message"></textarea>
                            </div>
                            <input class="btn btn_animated btn_submit" id="submit" name="submit" type="submit" value="Send Message">
                        </form>

                        <form id="blog-form form" class="contact-form form" method="post">
                            {{ form.csrf_token() }}
                            <h3 class="subtitle">Leave a Reply</h3>
                            <div class="row">
                                <div class="col col-m-12 col-t-12 col-d-6">
                                    <div class="group-val">
                                        <input type="text" name="name" />
                                    </div>
                                    <div class="group-val">
                                        <input type="text" name="email" />
                                    </div>
                                    <div class="group-val ct-gr">
                                        <textarea name="content" placeholder="Message"></textarea>
                                    </div>
                                    <a id="submit" name="submit" type="submit" class="btn btn_animated"><span class="circle">Send Message</span></a>
                                </div>
                            </div>
                        </form>

                        <div class="col-md-12">
                            <h3 class="subtitle">Post Comments</h3>
                            <ul class="post-comment">
                                {% if post.comments %}
                                {% for comment in post.comments%}
                                <li>
                                    <div class="comment-info">
                                        <div class="name">
                                            <h3>{{comment.name}}</h3>
                                            <span>{{ comment.dibuat_pada.strftime("%d %b, %Y at %H.%M")}}</span>
                                        </div>
                                        <p>{{comment.content}}</p>
                                    </div>
                                </li>
                                {% endfor %}
                                {% else %}
                                No comments yet!
                                {% endif %}
                            </ul>
                        </div>
                        -->
                    
                    </div>

                </div>
            </div>
        </div>
    </div>

	 <!-- Footer -->
	 <footer class="align-center">
		<div class="socials">

		</div>
		<div class="copy">© 2023 D. Wahyu Ramadani. all rights reserved.</div>
	</footer>
	
</div>
{% endblock contents %}

{% block scripts %}
{% endblock scripts %}