{% extends "base.html" %}

{% block styles %}
{% endblock styles %}
    
{% block headers %}
<header class="header">
	<div class="fw">
		<div class="logo">
			<a href="{{ url_for('frontend.main_home') }}">Ramadani.My.Id</a>
		</div>
		<a href="#" class="menu-btn"><span></span></a>
		<div class="top-menu">
			<ul>
				<li><a href="/">Back to Home</a></li>
			</ul>
			<a href="#" class="close"></a>
		</div>
	</div>
</header>
{% endblock headers %}

{% block contents %}
<div class="container">

	<!-- Section Started -->
	<div class="section started-blog">
		<div id="particles-bg" class="slide" style="background-image: url({{url_for('serveStaticResource', resource='public/img/bg-1.jpg')}});"></div>
	</div>

	<!-- Blog -->
	<div class="section blog align-left" id="blog-section">
		<div class="fw">
			<div class="titles">
				<div class="title">Latest Blogs</div>
			</div>
			<div class="row blog-items">
				{% for item in list %}
				<div class="col col-m-12 col-t-4 col-d-4">
                    <div class="blog-item">
                        <div class="image">
                            <a href="{{url_for('frontend.post_item', id=item.id)}}">
                                {% if item.image %}
                                <img src="img/{{item.image}}" alt="{{item.title}}" />
                                {% else %}
                                <img src="img/img-default.jpg" alt="No Image" />
                                {% endif %}
                            </a>
                        </div>
                        <a href="{{url_for('frontend.post_item', id=item.id)}}" class="name">{{item.title}}</a>
                        <div class="date">{{item.user}} - {{item.dibuat_pada.strftime("%d %b, %Y")}}</div>
                    </div>
                </div>
				{% endfor %}
			</div>
			<div class="bts">
				<!--<a href="#" class="btn extra">Load More</a>-->
			</div>
			<div class="clear"></div>
		</div>
	</div>

	 <!-- Footer -->
	 <footer class="align-center">
		<div class="socials">

		</div>
		<div class="copy">© 2023 D. Wahyu Ramadani. all rights reserved.</div>
	</footer>
	
</div>
{% endblock contents %}

{% block scripts %}
{% endblock scripts %}