{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base_admin.html" %}

{% block styles %}
{% endblock styles %}
    
{% block breadcrumbs %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item active">Beranda</li>
</ol>
{% endblock breadcrumbs %}

{% block contents %}
<div class="card card-dark">
  <div class="card-body">
    Selamat datang di Halaman Administrator Ramadani.My.Id
  </div>
</div>
{% endblock contents %}

{% block modals %}
{% endblock modals %}

{% block scripts %}
{% endblock scripts %}